<div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #dff0d8; border: #cbe8ba solid 1px; padding-top: 20px;">
    <form class="form-horizontal" name="cursoForm" ng-submit="curso()">
        <fieldset>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table table-condensed" id="tabela">
                    <thead class="table-font-title">
                        <tr>
                            <th width="10">Entrar</th>
                            <th>Curso</th>
                            <th width="100">Categoria</th>
                        </tr>
                    </thead>
                    <tbody  class="table-font">
                        <tr ng-repeat="curso in cursos">
                            <td>
                                <a ng-click="entrarNoCurso(curso.id)" style="color: #ff6624;" ng-show="!curso.alunoPertence" title="Entrar no curso"><i class="glyphicon glyphicon-log-in pointer"></i></a>
                                <i ng-show="curso.alunoPertence" class="glyphicon glyphicon-ok" style="color: #ff6624;" title="Aluno já pertence ao curso"></i>
                            </td>
                            <td>{{curso.nome}}</td>
                            <td>{{curso.categoria.nome}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
</div>