<div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #dff0d8; border: #cbe8ba solid 1px; padding-top: 20px;">
    <form class="form-horizontal" name="cursoForm" ng-submit="curso()">
        <fieldset>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table table-condensed" id="tabela">
                    <thead class="table-font-title">
                        <tr>
                            <th width="10">Entrar</th>
                            <th>Curso</th>
                            <th width="100">Categoria</th>
                        </tr>
                    </thead>
                    <tbody  class="table-font">
                        <tr ng-repeat="curso in cursos">
                            <td>
                                <a ng-click="entrarNoCurso(curso.id)" style="color: #ff6624;" ng-show="!curso.alunoPertence" title="Entrar no curso"><i class="glyphicon glyphicon-log-in pointer"></i></a>
                                <a ng-click="estudarCurso(curso.idCursoAluno)"><i ng-show="curso.alunoPertence" class="glyphicon glyphicon-ok" style="color: #ff6624;" title="Aluno já pertence ao curso"></i></a>
                            </td>
                            <td>{{curso.nome}}</td>
                            <td>{{curso.categoria.nome}}</td>
                        </tr>
                        <tr ng-show="!cursos.length" class="text-center"><td colspan="3">Nenhum curso encontrado</td></tr>
                    </tbody>
                </table>
                <div class="col-xs-12 col-sm-12 col-md-12 text-center" ng-show="cursos.length">
                    <pagination class="pagination-md" style="color: #000000"
                        ng-model="paginaAtual"
                        total-items="paginacao.numDeItens"
                        max-size="paginacao.qntPaginaMostrarTela"
                        items-per-page="paginacao.qntPorPagina"
                        ng-change="pesquisarCurso(paginaAtual)"
                        boundary-links="true"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        rotate="false">
                    </pagination>
                </div>
            </div>
        </fieldset>
    </form>
</div>