<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas">
    <form class="form-horizontal" name="categoriaForm">
        <fieldset>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table table-condensed" id="tabela">
                    <thead class="table-font-title">
                        <tr>
                            <th width="10"></th>
                            <th width="10"></th>
                            <th>Categoria</th>
                        </tr>
                    </thead>
                    <tbody class="table-font">
                        <tr ng-repeat="categoria in model.categorias">
                            <td><a ng-click="excluirCategoria(categoria.id)" style="color: #ff6624;"><i class="glyphicon glyphicon-remove pointer" title="Excluir"></i></a></td>
                            <td><a ng-click="telaNovaEditar(categoria.id)" style="color: #ff6624;"><i class="glyphicon glyphicon-pencil pointer" title="Editar"></i></a></td>
                            <td>{{categoria.nome}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
</div>