TCC/tcc-common/target/
TCC/tcc-service/target/
TCC/tcc-web/target/
TCC/tcc-service/C:/tmp/tcc/tcc-sql.log
TCC/tcc-service/C:/tmp/tcc/tcc.log
TCC/tcc-service/C:/tmp/tcc/tcc/tcc-sql.log.1
TCC/tcc-service/C:/tmp/tcc/tcc/tcc-sql.log.10
TCC/tcc-service/C:/tmp/tcc/tcc/tcc-sql.log.12
TCC/tcc-service/C:/tmp/tcc/tcc/tcc-sql.log.11
TCC/tcc-service/C:/tmp/tcc/tcc/tcc-sql.log.13
TCC/tcc-service/C:/tmp/tcc/tcc/tcc-sql.log.14
