<h1 class="title-fonte" ng-show="!contagem || telaInit">Quiz</h1>
<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas" ng-show="!contagem && !telaInit" style="margin-bottom: 30px;">
    <h3>Pontos: {{model.pontuacao}}</h3>
    <div class="col-lg-12" ng-repeat="resultado in model.resultados" style="padding-top: 20px;">
        <hr style="border: 1px dotted #d07171; margin-top: 0px;">
        <p class="col-lg-12 curso-titulo-concluido">Pergunta {{resultado.pergunta.posicao}}:</p>
        <p class="col-lg-12"><span class="curso-nao-titulo-concluido">{{resultado.pergunta.descricao}}</span></p>

        <p class="col-lg-12 curso-titulo-concluido">Resposta Escolhida</p>
        <div class="col-lg-12">
            <p class="col-lg-12 curso-nao-titulo-concluido">({{resultado.respostaEscolhida.correta?'V':'F'}})
            <span ng-class="{'verdadeiro': resultado.respostaEscolhida.correta, 'falso':!resultado.respostaEscolhida.correta}">
                {{resultado.respostaEscolhida.descricao}}</span></p>
        </div>
        
        <p class="col-lg-12 curso-titulo-concluido">Resposta Correta</p>
        <div class="col-lg-12">
            <p class="col-lg-12 curso-nao-titulo-concluido">({{resultado.respostaCorreta.correta?'V':'F'}})
            <span ng-class="{'verdadeiro': resultado.respostaCorreta.correta, 'falso':!resultado.respostaCorreta.correta}">
                {{resultado.respostaCorreta.descricao}}</span></p>
        </div>
        
        
        <p class="col-lg-12 curso-titulo-concluido" ng-show="resultado.pergunta.justificativa">Justificativa:
            <span class="curso-nao-titulo-concluido">{{resultado.pergunta.justificativa}}</span></p>

    </div>
</div>