<div class="row" data-ng-include="'partials/jogo/contagem.html'" ng-show="!model.resultado && !model.perdeuJogo"></div>
<div class="row" data-ng-include="'partials/jogo/aposta/aposta-pergunta.html'" ng-show="!model.resultado && !contagem && !telaInit && !model.perdeuJogo"></div>
<div class="row" data-ng-include="'partials/jogo/aposta/aposta-resultado.html'" ng-show="model.resultado && !model.perdeuJogo"></div>
<div class="row" data-ng-include="'partials/jogo/aposta/perdeu.html'" ng-show="model.perdeuJogo"></div>
