<h1 class="title-fonte text-center"><span ng-show="!cursoAberto" style="color: red;">Curso Encerrado</span></h1>
<div class="col-md-8"><h1 class="title-fonte">Etapa {{model.etapaAluno.etapa.nivel}}</h1></div>
<div class="col-md-4" style="margin-top: 20px;">
    <button type="button" ng-click="voltar()" class="btn btn-pular-dica pull-right">
            <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Voltar</button>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas">
    <h2 class="title-fonte" style="padding-left: 14px; color: #093806;"><b>Pontuação:</b> {{model.etapaAluno.pontuacao}}</h2>
    <form class="form-horizontal" name="etapaForm">
        <p class="col-lg-12 curso-titulo-concluido">Assunto:</p>
        <p class="col-lg-12"><span class="curso-nao-titulo-concluido">{{model.etapaAluno.etapa.assunto}}</span></p>
        <img ng-src="data:image/png;base64,{{model.etapaAluno.etapa.anexo.bytes}}"><br>
        <button type="button" ng-click="jogar()" class="btn btn-block jogar-etapa" ng-show="cursoAberto">&nbsp;JOGAR</button>
    </form>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas">
    <form class="form-horizontal" name="relatorioForm">
        <table class="table table-condensed" id="tabela">
            <thead class="table-font-title">
                <tr>
                    <th width="50"></th>
                    <th>Relatório</th>
                    <th width="200">Pontuação</th>
                    <th width="200">Ganhou</th>
                </tr>
            </thead>
            <tbody  class="table-font">
                <tr ng-repeat="relatorio in model.relatorios">
                    <td class="text-center">
                        <a  href="#relatorio-etapa/{{idCursoAluno}}/{{idEtapa}}/{{idEtapaAluno}}/{{relatorio.id}}/{{model.jogo}}/{{model.aberto}}" style="color: #ff6624;"><i class="glyphicon glyphicon-search pointer"></i></a>
                    </td>
                    <td>Relatório {{model.relatorios.length-$index}}</td>
                    <td>{{relatorio.pontuacao}}</td>
                    <td>{{relatorio.ganhou?'Sim':'Não'}}</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>