<form class="form-horizontal" name="cadastrarForm" ng-submit="cadastrar()">
    <fieldset>
        <div class="form-group">
            <label for="inputNomeCadastro" class="col-lg-2 control-label label-font">Nome: </label>
            <div class="col-lg-10" ng-class="{'has-error': cadastrarForm.nome.$error.required}">
                <input type="text" name="nome" maxlength="45" ng-model="usuario.nome" class="form-control" id="inputNomeCadastro" required placeholder="Nome">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLogin" class="col-lg-2 control-label label-font">Login: </label>
            <div class="col-lg-10" ng-class="{'has-error': cadastrarForm.login.$error.required}">
                <input type="text" name="login" maxlength="45" ng-model="usuario.login" class="form-control" id="inputLogin" required placeholder="Login">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label label-font">Email: </label>
            <div class="col-lg-10" ng-class="{'has-error': cadastrarForm.email.$invalid}">
                <input type="email" name="email" maxlength="45" ng-model="usuario.email" class="form-control" id="inputEmail" required placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputSenha" class="col-lg-2 control-label label-font">Senha: </label>
            <div class="col-lg-10" ng-class="{'has-error': cadastrarForm.senha.$error.required}">
                <input type="password" name="senha" maxlength="45" ng-model="usuario.senha" class="form-control" id="inputSenha" required placeholder="Senha">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="button" ng-click="voltarTela()" class="btn btn-default1">Voltar</button>
                <button type="submit" class="btn btn-modelo">Cadastrar</button>
            </div>
        </div>
    </fieldset>
</form>