<h1 class="title-fonte">Nova Pergunta</h1>
<div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #dff0d8; border: #cbe8ba solid 1px; padding-top: 20px;">
    <form class="form-horizontal" name="perguntaForm" ng-submit="salvarPergunta()">
        <fieldset>
            <div class="form-group">
                <label for="inputDescricao" class="col-lg-1 control-label label-font">Pergunta:</label>
                <div class="col-lg-11" ng-class="{'has-error': perguntaForm.descricao.$error.required}">
                    <input type="text" name="descricao" maxlength="1000" ng-model="pergunta.descricao" class="form-control" id="inputDescricao" required placeholder="Pergunta">
                </div>
            </div>
            <div class="form-group">
                <label for="inputCategoria" class="col-lg-1 control-label label-font">Categoria:</label>
                <div class="col-lg-5" ng-class="{'has-error': perguntaForm.categoria.$error.required}">
                    <select id="inputCategoria" name="categoria" class="form-control" ng-model="pergunta.categoria" required
                            ng-options="categoria.descricao for categoria in categorias track by categoria.id">
                        <option value="">Categoria</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputOpcoes" class="col-lg-1 control-label label-font">Opções:</label>
                <div class="col-lg-10" ng-class="{'has-error': pergunta.respostas.length <= 0}">
                    <input type="text" maxlength="1000" name="opcoes" ng-model="opcao" class="form-control" id="inputOpcoes" placeholder="Opções">
                </div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-default pull-right botao-add" data-ng-click="addOpcao()" ng-disabled="!opcao">
                        <i class="glyphicon glyphicon-plus-sign" style="font-size: 26px;"></i></button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow: auto; height: 100px !important;" ng-show="pergunta.respostas.length > 0">
                <table class="table table-condensed" id="tabela">
                    <thead>
                        <tr>
                            <th width="1"></th>
                            <th>Opção</th>
                            <th width="125">Resposta correta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="resposta in pergunta.respostas">
                            <td><a ng-click="excluirOpcao($index)" style="color: #ff6624;"><i class="glyphicon glyphicon-remove handCurso"></i></a></td>
                            <td>{{resposta.descricao}}</td>
                            <td>
                                <input class="pull-right" id="correta" type="checkbox" name="correta" ng-model="resposta.correta">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label for="inputJustificativa" class="col-lg-1 control-label label-font">Explicação:</label>
                <div class="col-lg-11" ng-class="{'has-error': perguntaForm.justificativa.$error.required}">
                    <textarea id="inputJustificativa" name="justificativa" ng-model="pergunta.justificativa" class="form-control" rows="5" 
                              maxlength="1000"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-modelo pull-right" ng-disabled="perguntaForm.$invalid || pergunta.respostas.length == 0">
                        <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Salvar</button>
                    <button type="button" class="btn btn-modelo-voltar pull-right" style="margin-right: 5px;" ng-click="voltarConsulta()">
                        <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Voltar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>


<form role="form" name="anexoForm" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-xs-12 col-sm-10 col-md-10" ng-class="{'has-error': anexoForm.file.$invalid}">
            <input id="file" name="file" type="file" ng-model="anexo" file-model="anexo"/>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <button type="submit" class="btn btn-primary" ng-click="upload()" ng-disabled="anexoForm.$invalid">Adicionar</button>
        </div>
    </div>
</form> 