<div class="col-xs-12 col-sm-12 col-md-12" ng-controller="HomeAlunoController" style="padding: 15px;">
    <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="col-xs-12 col-sm-12 col-md-12 background-home-aluno-1tens background-home-aluno-1tem-1-3">
            <span class="menu-fonte text-center">Meus Cursos</span>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="col-xs-12 col-sm-12 col-md-12 background-home-aluno-1tens background-home-aluno-1tem-2-4">
            <span class="menu-fonte text-center">Meu Andamento</span>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="col-xs-12 col-sm-12 col-md-12 background-home-aluno-1tens background-home-aluno-1tem-1-3">
            <span class="menu-fonte text-center">Consultar Cursos</span>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="col-xs-12 col-sm-12 col-md-12 background-home-aluno-1tens background-home-aluno-1tem-2-4">
            <span class="menu-fonte text-center">Sobre</span>
        </div>
    </div>
</div>