<h1 class="title-fonte">Sobre</h1>
<br>
<div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #dff0d8; border: #061b01 dashed 5px; padding-top: 20px; padding-bottom: 20px;">
    <label class="col-lg-12 control-label label-font" style="font-size: 32px; color: #033b3e;">
        Nossa Missão:
    </label>
    <label class="col-lg-12 control-label label-font" style="font-size: 29px; color: #f1640f;">
        -> Auxiliar professores a ensinar o conteúdo de forma dinâmica e atrativa
        <img src="img/opcao1-professor.png" class="img-responsive text-center" style="height:200px;"/>
    </label>
    <label class="col-lg-12 control-label label-font" style="font-size: 29px; color: #f1640f;">
        -> Incentivar os alunos a buscar conhecimento de forma divertida.
        <img src="img/opcao3-desenvolvedor.png" class="img-responsive" style="height:200px;"/>
    </label>
    <label class="col-lg-12 control-label label-font" style="font-size: 29px; color: #f1640f;">
        -> Aprender! Jogar! Se divertir!
        <img src="img/todosIcons.png" class="img-responsive" style="height:200px;"/>
    </label>
</div>