<div class="col-md-12" style="padding-bottom: 5px;">
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('Q')" ng-disabled="model.letrasEscolhidas.indexOf('Q')>=0">Q</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('W')" ng-disabled="model.letrasEscolhidas.indexOf('W')>=0">W</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('E')" ng-disabled="model.letrasEscolhidas.indexOf('E')>=0">E</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('R')" ng-disabled="model.letrasEscolhidas.indexOf('R')>=0">R</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('T')" ng-disabled="model.letrasEscolhidas.indexOf('T')>=0">T</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('Y')" ng-disabled="model.letrasEscolhidas.indexOf('Y')>=0">Y</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('U')" ng-disabled="model.letrasEscolhidas.indexOf('U')>=0">U</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('I')" ng-disabled="model.letrasEscolhidas.indexOf('I')>=0">I</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('O')" ng-disabled="model.letrasEscolhidas.indexOf('O')>=0">O</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('P')" ng-disabled="model.letrasEscolhidas.indexOf('P')>=0">P</button>
</div>
<div class="col-md-12" style="padding-bottom: 5px;">
    <button style="margin-left: 5px;" type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('A')" ng-disabled="model.letrasEscolhidas.indexOf('A')>=0">A</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('S')" ng-disabled="model.letrasEscolhidas.indexOf('S')>=0">S</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('D')" ng-disabled="model.letrasEscolhidas.indexOf('D')>=0">D</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('F')" ng-disabled="model.letrasEscolhidas.indexOf('F')>=0">F</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('G')" ng-disabled="model.letrasEscolhidas.indexOf('G')>=0">G</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('H')" ng-disabled="model.letrasEscolhidas.indexOf('H')>=0">H</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('J')" ng-disabled="model.letrasEscolhidas.indexOf('J')>=0">J</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('K')" ng-disabled="model.letrasEscolhidas.indexOf('K')>=0">K</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('L')" ng-disabled="model.letrasEscolhidas.indexOf('L')>=0">L</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('Ç')" ng-disabled="model.letrasEscolhidas.indexOf('Ç')>=0">Ç</button>
</div>
<div class="col-md-12">
    <button style="margin-left: 70px;" type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('Z')" ng-disabled="model.letrasEscolhidas.indexOf('Z')>=0">Z</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('X')" ng-disabled="model.letrasEscolhidas.indexOf('X')>=0">X</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('C')" ng-disabled="model.letrasEscolhidas.indexOf('C')>=0">C</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('V')" ng-disabled="model.letrasEscolhidas.indexOf('V')>=0">V</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('B')" ng-disabled="model.letrasEscolhidas.indexOf('B')>=0">B</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('N')" ng-disabled="model.letrasEscolhidas.indexOf('N')>=0">N</button>
    <button type="button" class="btn btn-resposta-quiz" ng-click="escolherLetra('M')" ng-disabled="model.letrasEscolhidas.indexOf('M')>=0">M</button>
</div>