<h1 class="title-fonte" ng-show="!contagem">Forca</h1>
<div class="progress" ng-show="!contagem && !telaInit">
    <div class="progress-bar" role="progressbar" ng-style="barraProgresso">
        {{barraProgresso.width}}
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas" ng-show="!contagem" style="margin-bottom: 30px;">
    <div class="form-group">
        <div class="col-md-6">
            <img src="img/jogos/forca/forca1.png" style="height:300px;">
        </div>
        <div class="col-md-12" style="padding-top: 25px;">
            <button type="button" ng-click="pularPergunta()" ng-show="model.qntPulo>0" class="btn btn-pular-dica pull-right">
                <i class="glyphicon glyphicon-share-alt"></i>&nbsp;Pular</button>
            <button type="button" ng-click="dicaPergunta()" ng-show="model.qntDica>0" class="btn btn-pular-dica pull-right">
                <i class="fa fa-lightbulb-o"></i>&nbsp;Dica</button>
        </div>
    </div>
</div>