<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas">
    <form class="form-horizontal" name="professorForm">
        <fieldset>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table table-condensed" id="tabela" style="margin-bottom: 0px;">
                    <thead class="table-font-title">
                        <tr>
                            <th width="10"></th>
                            <th width="10"></th>
                            <th>Professor</th>
                            <th>Login</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody class="table-font">
                        <tr ng-repeat="professor in model.professores">
                            <td><a ng-click="excluirProfessor(professor)" style="color: #ff6624;"><i class="glyphicon glyphicon-remove pointer" title="Excluir"></i></a></td>
                            <td><a ng-click="telaNovaEditar(professor.id)" style="color: #ff6624;"><i class="glyphicon glyphicon-pencil pointer" title="Editar"></i></a></td>
                            <td>{{professor.nome}}</td>
                            <td>{{professor.login}}</td>
                            <td>{{professor.email}}</td>
                        </tr>
                        <tr ng-show="!model.professores.length" class="text-center"><td colspan="5">Nenhum item encontrado</td></tr>
                    </tbody>
                </table>
                <div class="col-xs-12 col-sm-12 col-md-12 text-center" ng-show="model.professores.length">
                    <pagination class="pagination-md" style="color: #000000"
                        ng-model="paginaAtual"
                        total-items="paginacao.numDeItens"
                        max-size="paginacao.qntPaginaMostrarTela"
                        items-per-page="paginacao.qntPorPagina"
                        ng-change="pesquisar(paginaAtual)"
                        boundary-links="true"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        rotate="false">
                    </pagination>
                </div>
            </div>
        </fieldset>
    </form>
</div>