<h1 class="title-fonte" ng-show="!contagem">Caça Palavra</h1>
<div class="progress" ng-show="!contagem">
    <div class="progress-bar" role="progressbar" ng-style="barraProgresso">
        {{barraProgresso.width}}
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas" ng-show="!contagem" style="margin-bottom: 30px;" ng-mouseup="mouseUpCelula()">
    <div class="form-group">
        <div class="col-md-5">
            <div class="col-md-12" ng-repeat="linha in model.matrizCompleta">
                <div class="col-md-1 cedula handCursor noselect" ng-repeat="dado in linha" ng-style="dado.style"
                     ng-mousedown="mouseDownCelula($parent.$index, $index)"
                     ng-mouseup="mouseUpCelula($parent.$index, $index)"
                     ng-mouseover="mouseOverCelula($parent.$index, $index)"
                     ng-mouseleave="mouseLeaveCelula($parent.$index, $index)">
                    {{dado.letra}}
                </div>
            </div>
        </div>
        <div class="col-md-7" style="padding-left: 0px;padding-right: 0px;">
            <div class="col-md-12" style="border: #cbe8ba solid 1px; margin-bottom: 3px;" ng-style="pergunta.style"
                 ng-repeat="pergunta in model.perguntas">
                <p class="title-fonte text-center" style="color: black"
                    ng-style="pergunta.style">{{pergunta.descricao}}</p>
            </div>
        </div>
    </div>
</div>

