<div style="border: 1px solid #000;" class="col-md-6">
<div style="border: 1px solid #000;" class="col-md-12">
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
</div>
<div style="border: 1px solid #000;" class="col-md-12">
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
    <div style="border: 1px solid #000;" class="col-md-1">A</div>
</div>
</div>



<div ng-mouseenter="count1 = count1 + 1" style="background-color: red; color: black;" ng-init="count1=0">Aumenta o count se entrar na div</div>
<h1 style="color: red;">count1 - {{count1}}</h1>

<div ng-mouseover="count2 = count2 + 1" style="background-color: blue; color: white;" ng-init="count2=0">Aumenta o count se entrar na div</div>
<h1 style="color: blue;">count2 - {{count2}}</h1>

<div ng-mouseleave="count3 = count3 + 1" style="background-color: grey; color: white;" ng-init="count3=0">Aumenta o count se sair da div</div>
<h1 style="color: grey;">count3 - {{count3}}</h1>

<div ng-mousemove="count4 = count4 + 1" style="background-color: yellow; color: black;" ng-init="count4=0">Aumenta o count se fizer qualquer movimento dentro da div</div>
<h1 style="color: yellow;">count4- {{count4}}</h1>

<div ng-mousedown="count5 = count5 + 1" style="background-color: green; color: white;" ng-init="count5=0">Aumenta o count se clicar</div>
<h1 style="color: green;">count5 - {{count5}}</h1>

<div ng-mouseup="count6 = count6 + 1" style="background-color: purple; color: white;" ng-init="count6=0">Aumenta o count se soltar o click</div>
<h1 style="color: purple;">count6- {{count6}}</h1>