<div class="row">
    <div class="col-xs-4 col-md-9">
        <img src="img/logo.png" alt="logo" class="logoImagem"/>
    </div>
    <div class="col-xs-8 col-md-3">
        <div class="form-group confg-botao-login-cadastro pull-right">
            <button type="button" ng-click="logarTela()" class="btn btn-modelo btn-lg">Login</button>
            <button type="button" ng-click="cadastrarTela()" class="btn btn-modelo btn-lg">Cadastrar</button>
        </div>
    </div>
    <div class="col-md-12 linhaBranca"></div>
</div>