<div class="row">
    <div class="col-xs-4 col-md-5">
        <img src="img/logo.png" alt="logo" class="logoImagem"/>
    </div>
    <div class="col-xs-7 hidden-sm hidden-md hidden-lg" style="padding-right: 0px;padding-left: 0px;">
        <nav class="navbar navbar-inverse menu-fonte">
            <div class="container-fluid">
                <ul class="list-inline" style="padding-top: 10px;">
                    <li><a href="#home" class="menu-fonte"><i class="glyphicon glyphicon-home pointer" title="Home"></i></a></li>
                    <li class="dropdown" ng-show="isProfessor"><a class="dropdown-toggle menu-fonte pointer" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-th-list" title="Professor"></i> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/consultar-pergunta">Pergunta</a></li>
                            <li><a href="#/criar-curso">Criar Curso</a></li>
                            <li><a href="#/consultar-curso-criei">Cursos que Criei</a></li>
                            <li><a href="#/jogos">Jogos</a></li>
                            <li><a href="#/tabuleiro">Tabuleiros</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-show="isAluno"><a class="dropdown-toggle menu-fonte pointer" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list" title="Aluno"></i> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#consultar-todos-curso">Consultar Cursos</a></li>
                            <li><a href="#meus-cursos-aluno">Meus Cursos</a></li>
                            <li><a href="#meus-andamento">Ver Meu Andamento</a></li>
                        </ul>
                    </li>
                    <li><a href="#usuario" ng-hide="isAdministrador" class="menu-fonte" title="{{usuarioLogado.nome}}"><i class="glyphicon glyphicon glyphicon-user" title="Usuário"></i></a></li>
                    <li><a href="#sobre" class="menu-fonte"><i class="glyphicon glyphicon-info-sign" title="Sobre"></i></a></li>
                    <li><a class="menu-fonte" href="" data-ng-click="logoff()"><i class="glyphicon glyphicon-log-out" title="Sobre"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    
    
    <div class="collapse navbar-collapse hidden-xs">
        <nav class="navbar navbar-inverse menu-fonte">
            <div class="container-fluid">
                <ul class="nav navbar-nav" style="padding-top: 30px;">
                    <li><a href="#home" class="menu-fonte">Home</a></li>
                    <li class="dropdown" ng-show="isProfessor"><a class="dropdown-toggle menu-fonte pointer" data-toggle="dropdown">Professor <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/consultar-pergunta">Pergunta</a></li>
                            <li><a href="#/criar-curso">Criar Curso</a></li>
                            <li><a href="#/consultar-curso-criei">Cursos que Criei</a></li>
                            <li><a href="#/jogos">Jogos</a></li>
                            <li><a href="#/tabuleiro">Tabuleiros</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-show="isAluno"><a class="dropdown-toggle menu-fonte pointer" data-toggle="dropdown">Aluno <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#consultar-todos-curso">Consultar Cursos</a></li>
                            <li><a href="#meus-cursos-aluno">Meus Cursos</a></li>
                            <li><a href="#meus-andamento">Ver Meu Andamento</a></li>
                        </ul>
                    </li>
                    <li><a href="#usuario" ng-hide="isAdministrador" class="menu-fonte" title="{{usuarioLogado.nome}}">Usuário</a></li>
                    <li><a href="#sobre" class="menu-fonte">Sobre</a></li>
                    <li><a class="navbar-brand navbar-right menu-fonte" href="" data-ng-click="logoff()">Sair</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-md-12"ng-class="{'linhaBranca': !telaHomeAluno,'homeLinhaBranca': telaHomeAluno}"></div>
</div>