<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand navbar-right" href="" data-ng-click="logoff()" ng-show="autenticar"><span class="glyphicon glyphicon-off"/>&nbsp;&nbsp;Sair</a>
        <div class="navbar-header" ng-show="autenticar">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home"><span class="glyphicon glyphicon-home"/>&nbsp;&nbsp;Página Inicial</a>
            <a class="navbar-brand" class="navbar-brand" href="#/"><span class="glyphicon glyphicon-plus"/>&nbsp;&nbsp;Criar Curso</a>
            <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-log-in"/>&nbsp;&nbsp;Entrar em Curso</a>
            <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-list"/>&nbsp;&nbsp;Meus Cursos</a>
            <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-book"/>&nbsp;&nbsp;Cursos que Participo</a>
            <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-user"/>&nbsp;&nbsp;Minha Conta</a>
            
        </div>
    </div>
</nav>

