<div class="col-xs-12 col-sm-12 col-md-12" ng-controller="HomeAdmController">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="col-xs-12 menu-adm pointer" ng-click="professor()" ng-mouseover="mouseoverProfessor()" ng-mouseleave="mouseleaveProfessor()">
            <img ng-src="{{srcProfessor}}" class="img-responsive img-adm-menu"/>
            <p class="text-center">Professor</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="col-xs-12 menu-adm pointer" ng-click="categoria()" ng-mouseover="mouseoverCategoria()" ng-mouseleave="mouseleaveCategoria()">
            <img ng-src="{{srcCategoria}}" class="img-responsive img-adm-menu"/>
            <p class="text-center">Categoria</p>
        </div>
    </div>
</div>