.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #ff8f00;
    border-color: #ff6f00;
    color: #ffffff;
    font-family: "Balthazar";
    font-size: 125%;
    font-weight: bold;
}
.btn-file:hover {
    color: #ffffff;
    background-color: #ff7043;
    border-color: #adadad;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.no-padding-right-left{
    padding-right: 0px;
    padding-left: 0px;
}
.verdadeiro{
     color: green;
}
.falso{
     color: red;
}
.title-fonte{
     font-family: 'Balthazar';
     color: #ffffff;
}
.botao-add{
    border-radius: 22px;
    color: #ff6624;
}

.nav-menu{
    display: inline;
    list-style-type: none;
}

.table-font{
    color: #522e2e;
    font-size: 15px;
    font-family:'Balthazar';
    background-color: #f2ffed;
}

.table-font-title{
    background-color: #c5dabd;
    color: #522e2e;
    font-size: 16px;
    font-family:'Balthazar';
}

.curso-titulo-concluido{
    color: #ff6624;
    font-size: 21px;
    font-family:'Balthazar';
}

.curso-nao-titulo-concluido{
    color: #5d0f0f;
    font-size: 18px;
    font-family:'Balthazar';
}

.curso-etapa-concluido{
    color: #5d0f0f;
    font-size: 23px;
    font-family:'Balthazar';
    font-weight: bold;
}

.label-font{
    color: #ff6624;
    font-size: 19px;
    font-family:'Balthazar';
}

.handCursor{
    cursor: pointer;
}

li {
display: inline;
}

.menu-fonte-glyphicon{
    font-size: 20px;
}

.menu-fonte{
    color: #ffffff;
    font-size: 30px;
    font-family:'Balthazar';
    font-weight: bold;
    background-color: transparent;
}

.menu-fonte:hover {
    color: #dff0d8;
    background-color: transparent;
}

.logoImagem{
    width: 230px; 
    height: 100px; 
    margin-top: 5px;
    margin-left: 150px;
}

.fontBaltazar{
    font-family:'Balthazar';
    color: #ffffff;
}

.linhaBranca{
    margin-top: -10px;
    padding-top: 2px;
    background-image: url('../img/linha.png');
    background-repeat: repeat-x;
}

.btn-modelo {
    font-family:"Balthazar";
    font-size: 125%;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff8f00;
    border-color: #ff6f00;
}

.btn-modelo:hover {
    color: #ffffff;
    background-color: #ff7043;
    border-color: #adadad;
}

.btn-modelo-voltar {
    font-family:"Balthazar";
    font-size: 125%;
    font-weight: bold;
    color: #0d1318;
    background-color: #ccc;
    border-color: #b4bcc2;
}

.btn-modelo-voltar:hover {
    color: #0d1318;
    background-color: #ddd;
    border-color: #ccc;
}

.btn-default1 {
    font-family:"Balthazar";
    font-size: 125%;
    font-weight: bold;
    color: #333;
    background-color: #ddd;
    border-color: #adadad;
}

.btn-default1:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.papelDeParede{
    background-image: url('../img/fundoTela.png');
    background-repeat: repeat;
}

.icone-todos{
    background-image: url('../img/todosIcons.png');
    height: 300px;
}

.icone-todos1{
    background-image: url('../img/todosIcons.png');
    height: 300px;
    background-repeat: no-repeat;
    background-size: 350px 300px;
    background-position: top center;
    background-origin:content-box;
    background-color: transparent;
}

.sessao-tela-inicial {
    background-color: #c1e6d8;
    border-radius: 6px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0px;
}

.img-principal {
    background-repeat: no-repeat;
    background-size: 350px 300px;
    background-position: top center;
    background-origin:content-box;
    background-color: transparent;
    padding: 0px;
    margin:auto;
}

.btn-circle {
    font-family:'Balthazar';
    text-align: center;
    padding: 7px 20px;
    font-size: 16px;
    line-height: 1.42;
    border-radius: 15px;
}
.menu {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    background-origin:content-box;
    background-color: transparent;
    padding: 40px;
    margin:auto;
}

.dragdrop ul[data-dnd-list],
.dragdrop ul[data-dnd-list] > li {
    position: relative;
}

.dragdrop ul[data-dnd-list] {
    min-height: 42px;
}

.dragdrop ul[data-dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

.zero-padding-dir-esq{
    padding-right: 0px;
    padding-left: 0px;
}

.dragdrop ul[data-dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.fonte-titulo-opcoes{
    color: #810000;
    font-size: 25px;
    font-family:'Balthazar';
}

li{
    color: #fc4b00;
    font-size: 17px;
    font-family:'Balthazar';
}

/* Os estilos abaixo foram extendidos do bootstrap para atender aos campos textarea de texto formatado*/

.form-control, input {
    border-width: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*Termina aqui*/


.table>thead>tr>td.killed,.table>tbody>tr>td.dead,.table>tfoot>tr>td.killed,.table>thead>tr>th.killed,.table>tbody>tr>th.killed,.table>tfoot>tr>th.killed,.table>thead>tr.killed>td,.table>tbody>tr.killed>td,.table>tfoot>tr.killed>td,.table>thead>tr.killed>th,.table>tbody>tr.killed>th,.table>tfoot>tr.killed>th{
    background-color:#000000;
    color:#fff
}

.table-hover>tbody>tr>td.killed:hover,.table-hover>tbody>tr>th.killed:hover,.table-hover>tbody>tr.killed:hover>td,.table-hover>tbody>tr:hover>.killed,.table-hover>tbody>tr.killed:hover>th{
    background-color:#0d1318;
    color:#fff
}

.alert-killed {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}    

.alert-normal {
    background-color: #b4bcc2;
    border-color: #b4bcc2;
    color: #000000;
}    