.pointer {
    cursor:pointer
}
.noPadding {
    padding-left: 0px;
    padding-right: 0px;
}
.etapa {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    background-origin:content-box;
    background-color: transparent;
    padding: 40px;
    margin:auto;
}

.etapa-inicial{background-image: url('../img/tabuleiro/1-1.png');}
.etapa-inicial:hover {background-image: url('../img/tabuleiro/1-1-on.png');}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.cedula {
    border: 1px double #d2d2d2;
    padding-top: 7px;
    padding-left: 9px;
    height: 32px;
    width: 32px;
    border-radius: 3px;
    font-family:cursive;
    font-size: 15px;
    color: #ffffff;
} 
.cedula-selcionada {
    background-color: #9bcffd;
} 
.fundo-todas-telas {
    background-color: #dff0d8;
    border: #cbe8ba solid 1px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 8px;
}

.btn-block {
    display: block;
    width: 100%;
}
.btn-resposta-quiz {
    font-family:cursive;
    font-size: 130%;
    font-weight: bold;
    color: #ffffff;
    background-color: #61a5b9;
    border: #c3dad7 dotted 3px;

}

.btn-resposta-quiz:hover {
    color: #ffffff;
    background-color: #74c4dc;
    border-color: #adadad;
}
.btn-pular-dica {
    font-family:cursive;
    font-size: 130%;
    font-weight: bold;
    color: #ffffff;
    background-color: #398439;
    border-color: #0fca1d;
}

.btn-pular-dica:hover {
    color: #ffffff;
    background-color: #63c563;
    border-color: #adadad;
}
.img-jogos-menu{
    height:150px;
    display: block;
    margin: 0 auto;
}
.jogos-menu{
    background-color: #8ac4ae;
    border: #dff0d8 solid 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.jogos-menu:hover {
    background-color: #295444;
    border: #dff0d8 solid 1px;
}
.jogar-etapa{
    color: #ffffff;
    border: 1px double #d2d2d2; 
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
    border-radius: 20px;
    font-family: cursive;
    background: #d35e4c; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #00311f, #37b2ce); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #00311f, #37b2ce); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #00311f, #37b2ce); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #00311f, #37b2ce); /* Standard syntax (must be last) */
}
.jogar-etapa:hover {
    color: #ffffff;
    background: -webkit-linear-gradient(left top, #37b2ce, #26ad37); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #37b2ce, #26ad37); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #37b2ce, #26ad37); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #37b2ce, #26ad37); /* Standard syntax (must be last) */
}
.jogos-font{
    color: #522e2e;
    font-size: 22px;
    font-family:cursive;
    background-color: #f2ffed;
}
.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #ff8f00;
    border-color: #ff6f00;
    color: #ffffff;
    font-family: cursive;
    font-size: 125%;
    font-weight: bold;
}
.btn-file:hover {
    color: #ffffff;
    background-color: #ff7043;
    border-color: #adadad;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.no-padding-right-left{
    padding-right: 0px;
    padding-left: 0px;
}
.verdadeiro{
    color: green;
}
.falso{
    color: red;
}
.title-fonte{
    font-family: cursive;
    color: #ffffff;
}
.botao-add{
    border-radius: 22px;
    color: #ff6624;
}

.nav-menu{
    display: inline;
    list-style-type: none;
}

.table-font{
    color: #522e2e;
    font-size: 15px;
    font-family:cursive;
    background-color: #f2ffed;
}

.table-font-title{
    background-color: #c5dabd;
    color: #522e2e;
    font-size: 16px;
    font-family:cursive;
}

.curso-titulo-concluido{
    color: #ff6624;
    font-size: 21px;
    font-family:cursive;
}

.curso-nao-titulo-concluido{
    color: #5d0f0f;
    font-size:20px;
    font-family:cursive;
}

.curso-etapa-concluido{
    color: #5d0f0f;
    font-size: 23px;
    font-family:cursive;
    font-weight: bold;
}

.label-font{
    color: #ff6624;
    font-size: 19px;
    font-family:cursive;
}

li {
    display: inline;
}

.menu-fonte-glyphicon{
    font-size: 20px;
}

.menu-fonte{
    color: #ffffff;
    font-size: 30px;
    font-family:cursive;
    font-weight: bold;
    background-color: transparent;
}

.menu-fonte:hover {
    color: #dff0d8;
    background-color: transparent;
}

.logoImagem{
    width: 230px; 
    height: 100px; 
    margin-top: 5px;
    margin-left: 150px;
}
.logoImagem-rodape{
    width: 195px; 
    height: 80px; 
    margin-top: 5px;
    margin-left: 50px;
}

.fontBaltazar{
    font-family:cursive;
    color: #ffffff;
}

.menuCursosParticipoH3{
    font-family:cursive;
    color: #ffffff;
    margin-top: 10px;
}

.menuCursosParticipoDiv{
    background-color: rgb(37, 198, 205);
    border-radius: 40px;
    margin-top: 20px;
}

.vitoria {
    background: rgb(37, 198, 205); /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #51d8d2, #534573); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #51d8d2, #534573); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #51d8d2, #534573); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #51d8d2, #534573); /* Standard syntax (must be last) */
    border-radius: 10px;
    color: #ffffff;
    padding-top: 2px;
    padding-bottom: 13px;
}

.grad1 {
    background: rgb(37, 198, 205); /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #6dcf55, #0b9ca2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #6dcf55, #0b9ca2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #6dcf55, #0b9ca2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #6dcf55, #0b9ca2); /* Standard syntax (must be last) */
}

.grad1:hover {
    background: #0b9ca2; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #0b9ca2, #6dcf55); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0b9ca2, #6dcf55); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0b9ca2, #6dcf55); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0b9ca2, #6dcf55); /* Standard syntax (must be last) */
}
.menu-cursos-font{
    color: #ffffff;
    font-size: 16px;
    font-family:cursive;
}

.cursos-menu{
    border: #dff0d8 solid 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 119px;
    
    background: #d35e4c; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #53d4a3, #37b2ce); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #53d4a3, #37b2ce); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #53d4a3, #37b2ce); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #53d4a3, #37b2ce); /* Standard syntax (must be last) */
}
.cursos-menu:hover {
    background: #d35e4c; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #37b2ce, #53d4a3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #37b2ce, #53d4a3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #37b2ce, #53d4a3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #37b2ce, #53d4a3); /* Standard syntax (must be last) */
    border: #dff0d8 solid 1px;
}

.img-cursos-menu{
    height:65px;
    display: block;
    margin: 0 auto;
}

.linhaBranca{
    margin-top: -10px;
    padding-top: 2px;
    background-image: url('../img/linha.png');
    background-repeat: repeat-x;
}
.homeLinhaBranca{
    margin-top: -2px;
    padding-top: 2px;
    background-image: url('../img/linha.png');
    background-repeat: repeat-x;
}

.btn-modelo {
    font-family:cursive;
    font-size: 125%;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff8f00;
    border-color: #ff6f00;
}

.btn-modelo:hover {
    color: #ffffff;
    background-color: #ff7043;
    border-color: #adadad;
}

.btn-modelo-tabuleiros {
    font-family:cursive;
    font-size: 125%;
    font-weight: bold;
    color: #ffffff;
    background-color: #305c07;
    border-color: #53dc3a;
}

.btn-modelo-tabuleiros:hover {
    color: #ffffff;
    background-color: #558925;
    border-color: #53dc3a;
}

.btn-modelo-voltar {
    font-family:cursive;
    font-size: 125%;
    font-weight: bold;
    color: #0d1318;
    background-color: #ccc;
    border-color: #b4bcc2;
}

.btn-modelo-voltar:hover {
    color: #0d1318;
    background-color: #ddd;
    border-color: #ccc;
}

.btn-default1 {
    font-family:cursive;
    font-size: 125%;
    font-weight: bold;
    color: #333;
    background-color: #ddd;
    border-color: #adadad;
}

.btn-default1:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.papelDeParede{
    background-image: url('../img/fundoTela.png');
    background-repeat: repeat;
}

.icone-todos{
    background-image: url('../img/todosIcons.png');
    height: 300px;
}

.icone-todos1{
    background-image: url('../img/todosIcons.png');
    height: 300px;
    background-repeat: no-repeat;
    background-size: 350px 300px;
    background-position: top center;
    background-origin:content-box;
    background-color: transparent;
}

.sessao-tela-inicial {
    background-color: #c1e6d8;
    border-radius: 6px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0px;
}

.img-principal {
    background-repeat: no-repeat;
    background-size: 350px 300px;
    background-position: top center;
    background-origin:content-box;
    background-color: transparent;
    padding: 0px;
    margin:auto;
}

.btn-circle {
    font-family:cursive;
    text-align: center;
    padding: 7px 20px;
    font-size: 16px;
    line-height: 1.42;
    border-radius: 15px;
}
.menu {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    background-origin:content-box;
    background-color: transparent;
    padding: 40px;
    margin:auto;
}

.dragdrop ul[data-dnd-list],
.dragdrop ul[data-dnd-list] > li {
    position: relative;
}

.dragdrop ul[data-dnd-list] {
    min-height: 42px;
}

.dragdrop ul[data-dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

.zero-padding-dir-esq{
    padding-right: 0px;
    padding-left: 0px;
}

.dragdrop ul[data-dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.fonte-titulo-opcoes{
    color: #810000;
    font-size: 25px;
    font-family:cursive;
}

li{
    color: #fc4b00;
    font-size: 17px;
    font-family:cursive;
}

/* Os estilos abaixo foram extendidos do bootstrap para atender aos campos textarea de texto formatado*/

.form-control, input {
    border-width: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*Termina aqui*/


.table>thead>tr>td.killed,.table>tbody>tr>td.dead,.table>tfoot>tr>td.killed,.table>thead>tr>th.killed,.table>tbody>tr>th.killed,.table>tfoot>tr>th.killed,.table>thead>tr.killed>td,.table>tbody>tr.killed>td,.table>tfoot>tr.killed>td,.table>thead>tr.killed>th,.table>tbody>tr.killed>th,.table>tfoot>tr.killed>th{
    background-color:#000000;
    color:#fff
}

.table-hover>tbody>tr>td.killed:hover,.table-hover>tbody>tr>th.killed:hover,.table-hover>tbody>tr.killed:hover>td,.table-hover>tbody>tr:hover>.killed,.table-hover>tbody>tr.killed:hover>th{
    background-color:#0d1318;
    color:#fff
}

.alert-killed {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}    

.alert-normal {
    background-color: #b4bcc2;
    border-color: #b4bcc2;
    color: #000000;
}



/* Application */

#types {
    margin: 0 0 40px 0px;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f3f3f3;
}
#types li {
    display: inline-block;
    padding: 10px;
    margin-right: 40px;
}
#types li a {
    font-size: 22pt;
    color: #999;
}
#types li.selected {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
}
#types li.selected a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.menu-adm{
    color: #000000;
    font-size: 45px;
    font-family:cursive;
    
    background-color: #36906e;
    border: #dff0d8 solid 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.menu-adm:hover {
    color: #ffffff;
    background-color: #295444;
    border: #dff0d8 solid 1px;
}

.img-adm-menu{
    height:200px;
    display: block;
    margin: 0 auto;
}

.menu-professor-fonte{
    color: #420303;
    font-size: 20px;
    font-family:cursive;
}

.menu-professor{
    border: #dff0d8 solid 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    
    background: #d35e4c; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #abece2, #61b697); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #abece2, #61b697); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #abece2, #61b697); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #abece2, #61b697); /* Standard syntax (must be last) */
}

.menu-professor:hover {
    color: #ffffff;
    border: #dff0d8 solid 1px;
    
    background: #d35e4c; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #7fe4d5, #42ad86); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #7fe4d5, #42ad86); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #7fe4d5, #42ad86); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #7fe4d5, #42ad86); /* Standard syntax (must be last) */
}

.img-professor-menu{
    height:100px;
    display: block;
    margin: 0 auto;
}

.professor-menu-background {
    background: #d35e4c; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #fd6c16, #d4b253); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #fd6c16, #d4b253); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #fd6c16, #d4b253); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #fd6c16, #d4b253); /* Standard syntax (must be last) */
    /*border: #f7a7a7 dotted 3px;*/
    padding-top: 25px;
    border-radius: 6px;
    height: 390px;
}

.ranking-menu-background {
    background: #d35e4c; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #c76dff, #70aba8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #c76dff, #70aba8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #c76dff, #70aba8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #c76dff, #70aba8); /* Standard syntax (must be last) */
    padding-top: 25px;
    border-radius: 6px;
    height: 390px;
}

.hr-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.barra-rolagem-professor {
    height: 285px;
    overflow: scroll;
    overflow-x: hidden;
}

.font-professor-home {
    font-family:cursive;
    font-size: 15px;
}

.dados-professor-home {
    font-family:cursive;
    color: #054645;
    font-size: 17px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.aluno-pagina-principal {
    background: #d35e4c; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #61b697, #d2c895); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #61b697, #d2c895); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #61b697, #d2c895); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #61b697, #d2c895); /* Standard syntax (must be last) */
    height: 300px;
}

.background-home-aluno-1tens {
    border-radius: 80px;
    height: 200px;
    padding-top: 72px;
}
.background-home-aluno-1tem-1-3 {
    background-image: radial-gradient(farthest-corner at center center, #de662e 0%, #ff9b6d 100%);
}
.background-home-aluno-1tem-1-3:hover {
    background-image: radial-gradient(farthest-corner at center center, #ffb592 0%, #fd8047 100%);
}
.background-home-aluno-1tem-2-4 {
    background-image: radial-gradient(farthest-corner at center center, #f9aa58 0%, #ff972b 100%);
}
.background-home-aluno-1tem-2-4:hover {
    background-image: radial-gradient(farthest-corner at center center, #ffba7e 0%, #ff972b 100%);
}

.item-fonte-aluno{
    color: #ffffff;
    font-size: 28px;
    font-family:cursive;
    font-weight: bold;
    background-color: transparent;
}

.rodape-home {
    background-color: #278a66;
    border: #8ac4ae solid 1px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.rodape-manual-fonte{
    color: #ffffff;
    font-size: 30px;
    font-family:cursive;
    font-weight: bold;
    background-color: transparent;
}

.rodape-manual-fonte:hover {
    color: #dff0d8;
    background-color: transparent;
}