<div class="row" data-ng-include="'partials/jogo/contagem.html'" ng-show="!model.resultado && !model.perdeuJogo && !model.venceuJogo"></div>
<div class="row" data-ng-include="'partials/jogo/jogovelha/jogovelha-tabuleiro.html'" ng-show="!model.resultado && !model.perdeuJogo && !model.venceuJogo"></div>
<div class="row" data-ng-include="'partials/jogo/jogovelha/jogovelha-resultado.html'" ng-show="model.venceuJogo"></div>
<div class="row" data-ng-include="'partials/jogo/perdeu.html'" ng-show="model.perdeuJogo && !model.venceuJogo"></div>