<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas">
    <form class="form-horizontal" name="perguntaForm" ng-submit="pergunta()">
        <fieldset>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table table-condensed" id="tabela">
                    <thead class="table-font-title">
                        <tr>
                            <th width="10"></th>
                            <th width="10"></th>
                            <th>Pergunta</th>
                            <th width="130">Nível</th>
                            <th width="100">Tipo</th>
                            <th width="100">Categoria</th>
                        </tr>
                    </thead>
                    <tbody class="table-font">
                        <tr ng-repeat="pergunta in perguntas">
                            <td>
                                <a ng-show="pergunta.usuario.id==usuarioLogado.id" ng-click="excluirPergunta($index)" style="color: #ff6624;">
                                    <i class="glyphicon glyphicon-remove handCursor" title="Excluir"></i></a>
                            </td>
                            <td>
                                <a ng-click="telaNovaEditarPergunta(pergunta.id)" style="color: #ff6624;">
                                    <i class="glyphicon glyphicon-pencil handCursor" ng-show="pergunta.usuario.id==usuarioLogado.id"title="Editar"></i>
                                    <i class="glyphicon glyphicon-zoom-in handCursor" ng-show="pergunta.usuario.id!=usuarioLogado.id"title="Visualizar"></i></a>
                            </td>
                            <td>{{pergunta.descricao.substring(0, 220)+(pergunta.descricao.length>220?'...':'')}}</td>
                            <td>{{pergunta.tipo.descricao}}</td>
                            <td>{{pergunta.nivel.descricao}}</td>
                            <td>{{pergunta.categoria.nome}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
</div>