<h1 class="title-fonte">Consultar Perguntas</h1>
<div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #dff0d8; border: #cbe8ba solid 1px; padding-top: 20px;">
    <form class="form-horizontal" name="pesqPerguntaForm" ng-submit="pesquisarPergunta()">
        <fieldset>
            <div class="form-group">
                <label for="inputDescricao" class="col-lg-1 control-label label-font">Pergunta:</label>
                <div class="col-lg-11">
                    <input type="text" maxlength="1000" name="descricao" ng-model="pesquisar.descricao" class="form-control" id="inputDescricao" placeholder="Pergunta">
                </div>
            </div>
            <div class="form-group">
                <label for="inputCategoria" class="col-lg-1 control-label label-font">Categoria:</label>
                <div class="col-lg-5">
                    <select id="inputCategoria" name="categoria" class="form-control" ng-model="pesquisar.categoria"
                            ng-options="categoria.descricao for categoria in categorias track by categoria.id">
                        <option value="">Categoria</option>
                    </select>
                </div>

                <div class="col-lg-6">
                    <button type="submit" class="btn btn-modelo pull-right">
                        <i class="glyphicon glyphicon-search"></i>&nbsp;Pesquisar</button>
                    <button type="button" class="btn btn-modelo pull-right" style="margin-right: 5px;" ng-click="telaNovaEditarPergunta()">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;Nova Pergunta</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>