<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas">
    <form class="form-horizontal" name="alunoForm">
        <fieldset>
    <button type="button" class="btn btn-modelo" ng-click="addAlunos()" style="padding-left: 20px; padding-right: 20px; margin-left: 15px;">
        <i class="glyphicon glyphicon-plus"></i>&nbsp;Adicionar Alunos ao Curso</button>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table table-condensed" id="tabela">
                    <thead class="table-font-title">
                        <tr>
                            <th>Aluno</th>
                            <th width="150">Etapa</th>
                            <th width="150">Pontuação</th>
                            <th width="150">Situação</th>
                        </tr>
                    </thead>
                    <tbody class="table-font">
                        <tr ng-repeat="cursoAluno in cursosAlunos">
                            <td>{{cursoAluno.aluno.nome}}</td>
                            <td>{{cursoAluno.posicaoAtual}}</td>
                            <td>{{cursoAluno.pontuacao}}</td>
                            <td>{{cursoAluno.situacao.descricao}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
</div>