<h1 class="title-fonte">Curso: {{curso.nome}}</h1>
<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas">
    <p class="col-lg-4 curso-titulo-concluido">Situação: <span class="curso-nao-titulo-concluido">{{curso.situacao.descricao}}</span></p>
    <p class="col-lg-4 curso-titulo-concluido">Disponibilidade: <span class="curso-nao-titulo-concluido">{{curso.disponibilidade.descricao}}</span></p>
    <p class="col-lg-4 curso-titulo-concluido">Categoria: <span class="curso-nao-titulo-concluido">{{curso.categoria.nome}}</span></p>
    <p class="col-lg-4 curso-titulo-concluido">Código de Acesso: <span class="curso-nao-titulo-concluido">{{curso.codAcesso}}</span></p>
    
    <div class="col-md-12 pointer menuCursosParticipoDiv grad1" 
             ng-click="model.dadoGeral = !model.dadoGeral" data-toggle="collapse" data-target="#dadoGeral">
            <h3 class="menuCursosParticipoH3">
                Dados Gerais do Curso
                <i class="glyphicon glyphicon-chevron-up" ng-show="!model.dadoGeral"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-show="model.dadoGeral"></i>
            </h3>
        </div>
        <div class="row collapse" id="dadoGeral" data-ng-include="'partials/curso/salvar/visualizar-curso-dados.html'"></div>
        <div class="col-md-12 pointer menuCursosParticipoDiv grad1" 
             ng-click="model.aluno = !model.aluno" data-toggle="collapse" data-target="#listaAluno">
            <h3 class="menuCursosParticipoH3">
                Alunos
                <i class="glyphicon glyphicon-chevron-up" ng-show="!model.aluno"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-show="model.aluno"></i>
            </h3>
        </div>
        <div class="row collapse" id="listaAluno" data-ng-include="'partials/curso/salvar/visualizar-alunos-curso.html'"></div>
        <div class="col-md-12 pointer menuCursosParticipoDiv grad1" 
             ng-click="abrirFecharAviso()" data-toggle="collapse" data-target="#listaAviso">
            <h3 class="menuCursosParticipoH3">
                Avisos
                <i class="glyphicon glyphicon-chevron-up" ng-show="!model.aviso"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-show="model.aviso"></i>
            </h3>
        </div>
        <div class="row collapse" id="listaAviso" data-ng-include="'partials/curso/salvar/visualizar-avisos-curso.html'"></div>
        
        <div class="form-group">
            <div class="col-lg-12" style="margin-top: 13px;">
                <button type="button" class="btn btn-modelo pull-right" ng-click="alteraDisponibilidade(curso.id, 'A')" ng-show="curso.disponibilidade.id==='F'">
                    <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;Abri o curso para os alunos</button>
                <button type="button" class="btn btn-modelo pull-right" ng-click="alteraDisponibilidade(curso.id, 'E')" ng-show="curso.disponibilidade.id==='A'">
                    <i class="glyphicon glyphicon-ban-circle"></i>&nbsp;Encerrar curso</button>
                <button type="button" class="btn btn-modelo pull-right" ng-click="addAvisos()" ng-show="curso.disponibilidade.id==='A'" style="margin-right: 10px;">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;Adicionar Avisos os Aluno</button>
                <button type="button" class="btn btn-modelo pull-right" ng-click="addAlunos()" ng-show="curso.disponibilidade.id==='A'" style="margin-right: 10px;">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;Adicionar Alunos ao Curso</button>
            </div>
        </div>
</div>