<div class="curso-nao-titulo-concluido" style="color: #56421e; font-size: 17px; text-align: left; padding-top: 25px;">
    
    <p><b>O <u>Jogo da Aposta</u> é um jogo de perguntas e respostas, ele rege-se por uma série de regras, veja-se a seguir:</b></p>
    <div class="col-md-12" style="color: #000000;padding-bottom: 15px;">
        <p><b>1. </b>Em cada rodada haverá uma pergunta e múltiplas opções de respostas.</p>
        <p><b>2. </b>Cabe ao jogador apostar suas fichas na resposta correta.</p>
        <p><b>3. </b>Se o jogador apostar suas fichas na resposta correta ele irá dobrar a quantidade de fichas apostadas naquela resposta.</p>
        <p><b>4. </b>O jogador tem a opção de apostar todas as suas fichas em uma única resposta ou dividir suas fichas entre as possíveis respostas.</p>
        <p><b>5. </b>O jogador tem a opção de comprar uma dica por partida, nesse hipótese ele deverá pagar 100 fichas.</p>
        <p><b>6. </b>O jogador tem a opção de pular uma pergunta por partida, nesta hipótese ele deverá pagar 50 fichas.</p>
        <p><b>7. </b>Ganhará a partida o aluno que receber pelo menos 50% dos pontos.</p>
    </div>
</div>










