<div class="curso-nao-titulo-concluido" style="color: #56421e; font-size: 17px; text-align: left; padding-top: 25px;">
    
    <p><b>O <u>Jogo da Velha</u> é um jogo em que o jogador tem que formar uma sequência de três "O" no tabuleiro, seja na 
            horizontal, vertical ou diagonal. Segue as regras do jogo:</b></p>
    <div class="col-md-12" style="color: #000000;padding-bottom: 15px;">
        <p><b>1. </b>O jogador jogará contra ele mesmo.</p>
        <p><b>2. </b>Antes de cada pergunta o jogador deve selecionar a posição que ele fará sua jogada.</p>
        <p><b>3. </b>Após selecionar, a pergunta aparecerá e o jogador deverá escolher a resposta correta.</p>
        <p><b>4. </b>Se escolher a resposta incorreta a casa escolhida será preenchida com o "X" do oponente.</p>
        <p><b>5. </b>Se escolher a resposta correta a casa escolhida será preenchida com o "O" do jogador.</p>
        <p><b>6. </b>Após vencer ou perder o tabuleiro, ele será limpado e começá uma novo jogo até acabar as perguntas</p>
        <p><b>7. </b>Para passar para a próxima etapa será necessário vencer (quantidade de perguntas)/3 tabuleiros.</p>
    </div>
</div>