<div class="curso-nao-titulo-concluido" style="color: #56421e; font-size: 17px; text-align: left; padding-top: 25px;">
    
    <p><b>O <u> Jogo Quiz</u> é um jogo de perguntas e respostas, ele rege-se por uma série de regras, veja-se a seguir:</b></p>
    <div class="col-md-12" style="color: #000000;padding-bottom: 15px;">
        <p><b>1. </b>Em cada rodada haverá uma pergunta e múltiplas opções de respostas.</p>
        <p><b>2. </b>Se o jogador acertar a resposta, ganhará 100 pontos.</p>
        <p><b>3. </b>O jogador tem a opção de comprar uma dica por partida, nesse hipótese ele deverá pagar 25 pontos.</p>
        <p><b>4. </b>O jogador tem a opção de pular uma pergunta por partida, nesta hipótese ele receberá apenas 50 pontos.</p>
        <p><b>5. </b>Cada pergunta tem um tempo para ser respondida. Se extrapolar o tempo a pergunta será passada e o jogador não receberá o 100 pontos daquela pergunta.</p>
        <p><b>6. </b>Ganhará a partida o aluno que receber pelo menos 75% dos pontos.</p>
    </div>
</div>