<!-- loagind app -->
<div class="loading_app" data-ng-hide="appLoaded" style="z-index: 999; width: 100%; height: 100%; position: absolute; top: 0px ; left: 0px;">
    <p style="text-align:center; margin: auto; position: absolute;top: 50%;left: 41%;">
        <img src="img/reload.gif">
    </p>
</div>
<div class="modal-header" style="background-color: #cbe8ba;">
    <h3 class="modal-title title-fonte-modal">Tutorial do Jogo de Aposta</h3>
</div>
<div class="modal-body">
    <form role="form" name="perguntaForm" class="form-horizontal" enctype="multipart/form-data">
        <div class="container-explicacao text-center">
            <p class="btn-tabuleiro-pag"><b>Pagina</b> {{model.pagina}} <b>de</b> {{model.ultimaPagina}}</p>
            <img ng-src="{{model.url}}"/>
            <button type="button" class="btn btn-modelo-tabuleiros" ng-click="anterior()" ng-disabled="model.pagina===1">
                <i class="glyphicon glyphicon-arrow-left pull-right"></i></button>
            <button type="button" class="btn btn-modelo-tabuleiros" ng-click="proxima()" ng-disabled="model.pagina===model.ultimaPagina">
                <i class="glyphicon glyphicon-arrow-right pull-right"></i></button>
        </div>
    </form>
</div>
<div class="modal-footer" style="background-color: #cbe8ba;">
    <button type="button" class="btn btn-default" data-ng-click="fechar()" style="font-size: 120%;">
        <i class="glyphicon glyphicon-remove-sign"></i>&nbsp;Fechar</button>
    <button type="button" class="btn btn-modelo" data-ng-click="jogar()" style="font-size: 120%;">
        <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;Jogar</button>
</div>