<div class="curso-nao-titulo-concluido" style="color: #56421e; font-size: 17px; text-align: left; padding-top: 25px;">
    
    <p><b>O <u>Jogo de Caça-Palavras</u> consiste de letras arranjadas aparentemente aleatórias em uma grade quadrada. O objetivo do jogo é encontrar as respostas das perguntas propostas. Essas respostas estão escondidas na grade de letras. veja a seguir as regras do jogo:</b></p>
    <div class="col-md-12" style="color: #000000;padding-bottom: 15px;">
        <p><b>1. </b>Em cada rodada haverá múltiplas pergunta.</p>
        <p><b>2. </b>Cabe ao jogador encontrar as respostas escondidas na grade.</p>
        <p><b>3. </b>Para cada resposta encontrada o jogador ganhará 100 pontos.</p>
        <p><b>4. </b>O jogador tem a opção de comprar uma dica por partida, nesse hipótese ele deverá pagar 25 pontos.</p>
        <p><b>5. </b>Se o jogador não encontrar todas as palavras escondidas na partida ele tem a opção de passar adiante.</p>
        <p><b>6. </b>Ganhará a partida o aluno que receber pelo menos 75% dos pontos.</p>
    </div>
</div>









