<div class="col-md-8"><h1 class="title-fonte">{{model.jogo}}</h1></div>
<div class="col-md-4" style="margin-top: 20px;">
    <button type="button" ng-click="voltar()" class="btn btn-pular-dica pull-right">
            <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Voltar</button>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas" style="padding-bottom: 200px; padding-left: 100px">
    <div class="form-group">
        <div style="z-index: 999; width: 100%; height: 100%; position: absolute; top: 0px ; left: 0px;">
            <p class="center-block" style="text-align:center; margin: auto; position: absolute;top: 30%;">
                <img src="img/resultEtapa/GameOver.png" alt="" ng-show="imagem1" style="height:90px;padding-left: 9%;">
                <img src="img/resultEtapa/GameOver2.png" alt="" ng-hide="imagem1" style="height:95px;padding-left: 5%;">
            </p>
        </div>
    </div>
</div>