<div class="row">
    <div class="col-md-5">
        <img src="img/logo.png" alt="logo" class="logoImagem"/>
    </div>
    <div class="collapse navbar-collapse">
        <nav class="navbar navbar-inverse menu-fonte">
            <div class="container-fluid">
                <ul class="nav navbar-nav" style="padding-top: 30px;">
                    <li><a href="#home" class="menu-fonte">Home</a></li>
                    <li class="dropdown"><a class="dropdown-toggle menu-fonte handCursor" data-toggle="dropdown">Professor <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/consultar-pergunta">Pergunta</a></li>
                            <li><a href="#/criar-curso">Criar Curso</a></li>
                            <li><a href="#/consultar-curso-criei">Cursos que Criei</a></li>
                            <li><a href="#/jogos">Jogos</a></li>
                            <li><a href="#/tabuleiro">Tabuleiros</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle menu-fonte handCursor" data-toggle="dropdown">Aluno <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#consultar-todos-curso">Consultar Cursos</a></li>
                            <li><a href="#">Meus Cursos</a></li>
                            <li><a href="#">Meu Andamento</a></li>
                            <li><a href="#">Meus Troféus</a></li>
                        </ul>
                    </li>
                    <li><a href="#sobre" class="menu-fonte">Sobre</a></li>
                    <li><a class="navbar-brand navbar-right menu-fonte" href="" data-ng-click="logoff()">Sair</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="col-md-12 linhaBranca"></div>
</div>