<h1 class="title-fonte">Etapa {{etapa.nivel}}</h1>
<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas">
    <form class="form-horizontal" name="etapaForm" ng-submit="salvarEtapa()" enctype="multipart/form-data">
        <fieldset>
            <div class="form-group">
                <label for="inputAssunto" class="col-lg-1 control-label label-font">Assunto:</label>
                <div class="col-lg-11" ng-class="{'has-error': etapaForm.assunto.$error.required}">
                    <textarea type="text" name="assunto" maxlength="1000" ng-model="etapa.assunto" rows="5" 
                              class="form-control" id="inputAssunto" required placeholder="Assunto"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">                    
                    <span class="btn btn-default btn-file">
                        <i class="glyphicon glyphicon-save"></i>&nbsp;Anexo
                        <input id="file" name="file" type="file" ng-model="model.anexo" file-model="model.anexo"/>
                    </span>
                    
                    <label style="color: #065d00">
                        <span ng-show="!etapa.anexo.id">&nbsp;{{etapa.anexo.nomeArquivo}}</span>
                        <a ng-show="etapa.anexo.id" target="_blank" style="color: #065d00"
                           href="rest/anexo/download?arquivo={{etapa.anexo.nomeArquivo}}&idAnexo={{etapa.anexo.id}}">
                            &nbsp;{{etapa.anexo.nomeArquivo}}
                        </a>
                        &nbsp;<i ng-show="etapa.anexo" class="glyphicon glyphicon-remove handCursor"
                           ng-click="removerArquivo()"></i>
                    </label>
                </div>
            </div>
            <hr style="border: 1px dashed #d07171; margin-top: 0px;">
            <div class="form-group">
                <label for="inputJogo" class="col-lg-1 control-label label-font">Jogo:</label>
                <div class="col-lg-5" ng-class="{'has-error': etapaForm.jogo.$error.required}">
                    <select id="inputJogo" name="jogo" class="form-control" ng-model="etapa.jogo" required
                            ng-options="jogo.descricao for jogo in jogos track by jogo.id">
                        <option value="">Jogo</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <button type="button" ng-click="addPergunta()" class="btn btn-modelo pull-right" ng-disabled="!etapa.jogo">
                        <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adicionar Perguntas</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow: auto; height: 150px !important;" ng-show="perguntasEtapa.length > 0">
                <table class="table table-condensed" id="tabela">
                    <thead class="table-font-title">
                        <tr>
                            <th width="1"></th>
                            <th>Pergunta</th>
                            <th width="50">Dados</th>
                        </tr>
                    </thead>
                    <tbody class="table-font">
                        <tr ng-repeat="pergunta in perguntasEtapa">
                            <td><a ng-click="excluirPergunta($index)" style="color: #ff6624;"><i class="glyphicon glyphicon-remove handCursor"></i></a></td>
                            <td>{{pergunta.descricao}}</td>
                            <td>
                                <a href="" ng-click="dadosPergunta(pergunta)"><i class="glyphicon glyphicon-info-sign botao-add" style="font-size: 26px;"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr style="border: 1px dashed #d07171;">
            <div class="form-group">
                <div class="col-lg-12">
                    <button type="button" ng-click="voltar()" class="btn btn-modelo pull-left">
                        <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Voltar</button>
                    <button type="submit" class="btn btn-modelo pull-right" style="margin-left: 5px;">
                        <i class="glyphicon glyphicon-ok"></i>&nbsp;Concluir</button>
                    <button type="button" ng-click="salvarEtapa('P')" class="btn btn-modelo pull-right" style="margin-left: 5px;">
                        <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Próximo Etapa</button>
                    <button type="button" ng-click="deletarEtapa(etapa.id)" class="btn btn-modelo pull-right" ng-show="etapa.id">
                        <i class="glyphicon glyphicon-trash"></i>&nbsp;Excluir</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>