<div class="row">
    <div class="col-md-12" style="padding-top: 0px;" ng-show="!telaCadastro && !telaLogin"
         data-ng-include="'partials/login/tela-principal.html'">
    </div>
    <div class="col-md-12" ng-show="telaCadastro || telaLogin">
        <div class="col-xs-12 col-sm-6 col-md-6 login-img-posicao">
            <img src="img/todosIcons.png" alt="logo" class="login-img-cor"/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 login-cadastro-posicao" ng-show="telaLogin"
             data-ng-include="'partials/login/logar.html'">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 login-cadastro-posicao" ng-show="telaCadastro"
             data-ng-include="'partials/login/cadastrar.html'">
        </div>
    </div>
</div>