<div class="col-md-12">
    <h2 class="text-center fontBaltazar">
        Ambiente de Aprendizado Utilizando Gamificação
    </h2>
    <h4 class="text-center fontBaltazar">
        Quer aprender conteúdos de forma dinâmica e divertida?
    </h4>
    <h4 class="text-center fontBaltazar">
        Experimente o GameInfor grátis!
    </h4>
    <div class="img-principal icone-todos">
        <img src="img/mask-tela.png" class="img-responsive" />
    </div>
    <div class="text-center">
        <button class="btn btn-modelo btn-lg btn-circle"
                type="button" ng-click="sobre()">Conheça nossa plataforma</button>
    </div>
    <div class="col-md-12" style="padding-top: 20px;">
        <div class="col-md-4">
            <div class="col-md-12 sessao-tela-inicial">
                <div class="col-md-4 zero-padding-dir-esq">
                    <img src="img/opcao1-professor.png" class="img-responsive" style="height:150px;"/>
                </div>
                <div class="col-md-8 zero-padding-dir-esq">
                    <p class="fonte-titulo-opcoes text-center">Professor</p>
                    <ul>
                        <li>Crie cursos</li>
                        <li>Proponha desafios</li>
                        <li>Escolha jogos</li>
                        <li>Ensine conteúdo</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 sessao-tela-inicial">
                <div class="col-md-4 zero-padding-dir-esq">
                    <img src="img/opcao2-aluno.png" class="img-responsive" style="height:150px;"/>
                </div>
                <div class="col-md-8 zero-padding-dir-esq">
                    <p class="fonte-titulo-opcoes text-center">Aluno</p>
                    <ul>
                        <li>Aprenda e se divirta</li>
                        <li>Jogue ilimitadamente</li>
                        <li>Desafie amigos</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 sessao-tela-inicial">
                <div class="col-md-4 zero-padding-dir-esq">
                    <img src="img/opcao3-desenvolvedor.png" class="img-responsive" style="height:150px;"/>
                </div>
                <div class="col-md-8 zero-padding-dir-esq">
                    <p class="fonte-titulo-opcoes text-center">Desenvolvedor</p>
                    <ul>
                        <li>Crie seu próprio jogo</li>
                        <li>Expanda a plataforma</li>
                        <li>Aproveite!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="padding-top: 50px;"></div>
</div>