<h1 class="title-fonte">Jogos</h1>
<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas">
    <div class="col-xs-12 col-sm-6 col-md-3" >
        <div class="col-xs-12 jogos-menu handCursor" ng-click="simularJogo('quiz')">
            <img src="img/jogos/Quiz.png" class="img-responsive img-jogos-menu"/>
            <p class="jogos-font text-center">Quiz</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3" >
        <div class="col-xs-12 jogos-menu handCursor" ng-click="simularJogo('forca')">
            <img src="img/jogos/JogoDaForca.png" class="img-responsive img-jogos-menu"/>
            <p class="jogos-font text-center" style="font-family: ">Forca</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="col-xs-12 jogos-menu handCursor" ng-click="simularJogo('aposta')">
            <img src="img/jogos/Aposta.png" class="img-responsive img-jogos-menu"/>
            <p class="jogos-font text-center">Aposta</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3" >
        <div class="col-xs-12 jogos-menu handCursor" ng-click="simularJogo('caca-palavras')">
            <img src="img/jogos/CacaPalavra.png" class="img-responsive img-jogos-menu"/>
            <p class="jogos-font text-center">Caça Palavra</p>
        </div>
    </div>
</div>