<h1 class="title-fonte" ng-show="!contagem">Quiz</h1>
<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas" ng-show="contagem" style="padding-bottom: 400px;">
    <div class="form-group">
        <h1 class="title-fonte text-center" style="font-size: 100px;color: #ff8f00;">Pronto?</h1>
        <div data-ng-show="contagem" style="z-index: 999; width: 100%; height: 100%; position: absolute; top: 0px ; left: 0px;">
            <p style="text-align:center; margin: auto; position: absolute;top: 30%;left: 37%;">
                <img src="img/contagem-regressiva.gif" style="height:300px;">
            </p>
        </div>
    </div>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas" ng-show="!contagem">
    <div class="form-group">
        <div class="col-md-6">
            <p class="col-lg-12 curso-titulo-concluido">Assunto:</p>
            <label>Pontuação: {{model.pontuacao}}</label>
        </div>
        <!--<div class="col-lg-12">
            <button type="button" ng-click="voltar()" class="btn btn-modelo pull-left">
                <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Voltar</button>
        </div>-->
    </div>
</div>