<h1 class="title-fonte">Tabuleiro 1</h1>
<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas" style="margin-bottom: 50px;">
    <div class="col-md-12" style="background-image: url('img/tabuleiro/background/aventura3.jpeg'); height: 500px; width: 1106px;border-radius: 150px;">
        <h1 class="title-fonte" style="padding-left: 125px;">Curso:</h1>
        <table style="border-radius: 5px; width: 50%; margin: 0px auto; float: none;">
            <tr>
                <td><img ng-src="{{etapa1}}" class="pointer" alt="tabuleiro" ng-click="entrarNaFase()"
                    ng-mouseover="etapa1='img/tabuleiro/on/1.png'"
                     ng-mouseleave="etapa1='img/tabuleiro/off/1.png'" style="width: 200px;"/></td>
                <td><img src="img/tabuleiro/desabilitada/2.png" alt="tabuleiro" style="width: 200px;"/></td>
                <td><img src="img/tabuleiro/desabilitada/3.png" alt="tabuleiro" style="width: 200px;"/></td>
                <td><img src="img/tabuleiro/desabilitada/4.png" alt="tabuleiro" style="width: 200px;"/></td>
                <td><img src="img/tabuleiro/desabilitada/5.png" alt="tabuleiro" style="width: 200px;"/></td>
            </tr>
            <tr>
                <td><img src="img/tabuleiro/desabilitada/10.png" alt="tabuleiro" style="width: 200px;"/></td>
                <td><img src="img/tabuleiro/desabilitada/9.png" alt="tabuleiro" style="width: 200px;"/></td>
                <td><img src="img/tabuleiro/desabilitada/8.png" alt="tabuleiro" style="width: 200px;"/></td>
                <td><img src="img/tabuleiro/desabilitada/7.png" alt="tabuleiro" style="width: 200px;"/></td>
                <td><img src="img/tabuleiro/desabilitada/6.png" alt="tabuleiro" style="width: 200px;"/></td>
            </tr>
            <tr>
                <td><img src="img/tabuleiro/desabilitada/11.png" alt="tabuleiro" style="width: 200px;"/></td>
                <td><img src="img/tabuleiro/desabilitada/12.png" alt="tabuleiro" style="width: 200px;"/></td>
                <td><img src="img/tabuleiro/desabilitada/13.png" alt="tabuleiro" style="width: 200px;"/></td>
                <td><img src="img/tabuleiro/desabilitada/14.png" alt="tabuleiro" style="width: 200px;"/></td>
                <td><img src="img/tabuleiro/desabilitada/15.png" alt="tabuleiro" style="width: 200px;"/></td>
            </tr>
        </table>
    </div>
</div>