<h1 class="title-fonte">Tabuleiro 1</h1>
<div class="col-xs-12 col-sm-12 col-md-12 fundo-todas-telas" style="background-image: url('img/tabuleiro/aventura1.jpg'); margin-bottom: 50px;">
    <table>
        <tr>
            <td><img src="img/tabuleiro/1.png" alt="tabuleiro" style="width: 200px;"/></td>
            <td><img src="img/tabuleiro/2.png" alt="tabuleiro" style="width: 200px;"/></td>
            <td><img src="img/tabuleiro/4.png" alt="tabuleiro" style="width: 200px;"/></td>
        </tr>
        <tr>
            <td><img src="img/tabuleiro/6.png" alt="tabuleiro" style="width: 200px;"/></td>
            <td><img src="img/tabuleiro/2.png" alt="tabuleiro" style="width: 200px;"/></td>
            <td><img src="img/tabuleiro/5.png" alt="tabuleiro" style="width: 200px;"/></td>
        </tr>
        <tr>
            <td><img src="img/tabuleiro/7.png" alt="tabuleiro" style="width: 200px;"/></td>
            <td><img src="img/tabuleiro/2.png" alt="tabuleiro" style="width: 200px;"/></td>
            <td><img src="img/tabuleiro/3.png" alt="tabuleiro" style="width: 200px;"/></td>
        </tr>
    </table>
</div>